{% extends 'backend/layout.html.twig' %}

{% block title %}Toutes les secteurs d'activité | Alumni Creator{% endblock %}

{% block header_actions %}
    <a href="{{ path('admin_parameters_new-activityarea') }}" class="btn btn-success"> Nouveau secteur d'activité</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                {% for oneActivityArea in activityArea %}
                    <tr>
                        <td>{{ oneActivityArea.id }}</td>
                        <td>{{ oneActivityArea.name }}</td>
                        <td><a class="btn btn-primary" href="{{ path('admin_parameters_edit-activityarea', {id: oneActivityArea.id}) }}">Modifier</a></td>
                        <td><a class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce secteur d\'activité ?')" href="{{ path('admin_parameters_delete-activityarea', {id: oneActivityArea.id}) }}">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}