{% extends 'backend/layout.html.twig' %}

{% block title %}Articles | Alumni Creator{% endblock %}

{% block header_actions %}
    <a href="{{ path('article_admin_new') }}" class="btn btn-success"> Nouvel article</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Date de publication</th>
                        <th scope="col">Statut</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>{{ article.publishedAt|date('d/m/y H:i') }}</td>
                        <td><span class="badge {% if article.status.value == 2 %}bg-success{% else %}bg-warning{% endif %}">{{ article.status.label }}</span></td>
                        <td><a class="btn btn-primary" href="{{ path('article_admin_edit', { id: article.id }) }}">Modifier</a></td>
                        <td><a class="btn btn-danger" href="{{ path('article_admin_delete', { id: article.id }) }}">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
