{% extends 'frontend/layout.html.twig' %}

{% block title %}Nouveau Groupe | Alumni Creator{% endblock %}

{% block content %}
    <div class="container breadcrumb">
        <p><a href="{{ path('homepage') }}">Accueil</a> > <a href="{{ path('group_index') }}">Groupes</a> > {% if group.id %}<a href="{{ path('group_one', {id: group.id}) }}">{{ group.name }}</a> > <a class="breadcrumb--current" href="{{ path('group_edit', {id: group.id}) }}">Modifier</a>{% else %}<a class="breadcrumb--current" href="{{ path('group_new') }}">Nouveau</a>{% endif %}</p>
    </div>
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="div card-section">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="mb-3">
                                    {{ form_label(form.name, null, {'label_attr':{'class':'form-label'}}) }}
                                    {{ form_widget(form.name, {'attr':{'class':form.name.vars.errors|length ? 'form-control is-invalid':'form-control'}}) }}
                                    {{ form_errors(form.name) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_label(form.visibility, null, {'label_attr':{'class':'form-label'}}) }}
                                    {{ form_widget(form.visibility, {'attr':{'class':form.visibility.vars.errors|length ? 'form-control is-invalid':'form-control'}}) }}
                                    {{ form_errors(form.visibility) }}
                                </div>
                                <div class="form-switch mb-3 {% if group.id is null %}d-none{% endif %}">
                                    {{ form_widget(form.isActive, {'attr':{'class':form.isActive.vars.errors|length ? 'form-check-input is-invalid':'form-check-input', 'role':'switch'}}) }}
                                    {{ form_label(form.isActive, null, {'label_attr':{'class':'form-check-label'}}) }}
                                    {{ form_errors(form.isActive) }}
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="mb-3">
                                    {{ form_label(form.activityArea, null, {'label_attr':{'class':'form-label'}}) }}
                                    {{ form_widget(form.activityArea, {'attr':{'class':form.activityArea.vars.errors|length ? 'form-control is-invalid':'form-control'}}) }}
                                    {{ form_errors(form.activityArea) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_label(form.location, null, {'label_attr':{'class':'form-label'}}) }}
                                    {{ form_widget(form.location, {'attr':{'class':form.location.vars.errors|length ? 'form-control is-invalid':'form-control'}}) }}
                                    {{ form_errors(form.location) }}
                                </div>
                            </div>
                        </div>
                        {{ include('frontend/_mention_form.html.twig') }}
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    {{ form_end(form) }}
                </div>
                {% if group.id and (is_granted('ROLE_ADMIN') or group.id and connectedUserInGroup.roleInGroup.value == 1) %}
                    <div class="mt-3">
                        <a class="custom-link" href="{{ path('group_delete', {id: group.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer définitivement ce groupe ?')">Je souhaite supprimer ce groupe</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
