{% extends 'frontend/layout.html.twig' %}

{% block title %}Les articles du groupe | Alumni Creator{% endblock %}

{% block content %}
    <div class="container breadcrumb">
        <p><a href="{{ path('homepage') }}">Accueil</a> > <a href="{{ path('group_index') }}">Groupes</a> > <a href="{{ path('group_one', {id: group.id}) }}">{{ group.name }}</a> > <a class="breadcrumb--current" href="{{ path('group_handle-media', {id: group.id}) }}">Nouveau média</a></p>
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success mb-3">
            <p class="text-center">{{ message }}</p>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-success mb-3">
            <p class="text-center">{{ message }}</p>
        </div>
    {% endfor %}

    <div class="container first-container mb-5">
        <div class="row">
            <div class="col-xl-6">
                <div class="group-events__index card-section d-flex justify-content-between">
                    <div class="w-100">
                        <h1 class="h2 fw-bold">Tous les médias</h1>
                        {% for media in medias %}
                            <div class="d-flex justify-content-between align-items-center w-100 mt-3">
                                <img class="d-block w-25" src="{{ vich_uploader_asset(media, 'mediaFile') | imagine_filter('my_thumb') }}">
                                <a style="color: red;" href="{{ path('group_delete-media', {id: group.id, mediaGroup: media.id}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                    </svg>
                                </a>
                            </div>
                        {% endfor %}
                        {% if medias|length == 0 %}
                            <p class="mb-0 mt-3">Aucun événement trouvé pour ce groupe</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mt-4 mt-xl-0">
                <div class="card-section">
                    <h1 class="h2 fw-bold">Nouveau média</h1>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="mb-3">
                            {{ form_label(form.mediaFile, null, {'label_attr':{'class':'form-label'}}) }}
                            {{ form_widget(form.mediaFile, {'attr':{'class':form.mediaFile.vars.errors|length ? 'form-control is-invalid':'form-control'}}) }}
                            {{ form_errors(form.mediaFile) }}
                        </div>
                    </div>
                    {{ include('frontend/_mention_form.html.twig') }}
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
