{% extends 'backend/layout.html.twig' %}

{% block title %}Alumni Creator | Gestion des flux{% endblock %}

{% block header_actions %}
    <a href="{{ path('admin_feed_new') }}" class="btn btn-success"><i class="align-middle" data-feather="plus"></i> Ajouter un flux</a>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">URL</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for feed in feeds %}
            <tr>
                <td>{{ feed.id }}</td>
                <td>{{ feed.url }}</td>
                <td>
                    <a href="{{ path('admin_feed_edit', {'id': feed.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
                <td>
                    {{ include('backend/feed/_delete_form.html.twig') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
